[submodule "study-buddies-server"]
	path = study-buddies-server
	url = https://github.com/project-soda/study-buddies-server.git
[submodule "study-buddies-client"]
	path = study-buddies-client
	url = git@github.com:project-soda/study-buddies-client.git
